In [1]:
import pandas as pd
from textblob import TextBlob

In [8]:
df = pd.read_csv("data_sentiment.csv")

In [32]:
df["Date"] = pd.to_datetime(df["Date"])

In [34]:
df = df.drop(columns = "Unnamed: 0", axis = 1)

In [35]:
print (df.dtypes)

Restaurant            object
Review                object
Date          datetime64[ns]
Label                  int64
dtype: object

In [36]:
df.head()

,Restaurant,Review,Date,Label
0,Happy Tummy,fresh ingredient friendly peep and so much che...,2016-04-06,1
1,Cibo Italiano,a small selection of italian wine by the glass...,2015-12-24,1
2,Cibo Italiano,cultural relevant singaporean cuisine in very ...,2018-08-19,4
3,Cibo Italiano,generous with the clam,2016-11-28,1
4,Yan kee Noodle House,the plus point is that the price remains the s...,2018-12-28,1

# Sentiment Analysis