## Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt

from textblob import TextBlob
from sklearn.metrics import accuracy_score

## Reading in the cleaned corpus

In [2]:
# Loading and formating dataframe
df = pd.read_csv("data_sentiment.csv")
df["Date"] = pd.to_datetime(df["Date"])
df["Review"] = df["Review"].apply(str)

# reviews = pd.read_csv("./classified_data.csv")

# TODO: Getting a DataFrame of reviews by restaurants

In [ ]:
# To get unique restaurant names
restaurant_names = []
for rest in reviews["Restaurant"]: # each restaurant name
    if rest not in restaurant_names: 
        restaurant_names.append(rest)

print(len(restaurant_names)) # number of restaurants

In [ ]:
# To get restaurant name and respective reviews (separately including date)
reviewsByRestaurant = dict.fromkeys(restaurant_names, "")
for rest in restaurant_names: 
    filtered= []
    reviewsByRestaurant[rest] = [] # to contain a list of sentences for that restaurant    
    filtered = reviews[reviews['Restaurant'] == rest]
    for i in range(len(filtered)): 
        review_info = {} # to contain key value pairs of label: sentence, date: date
        review_info['Review'] = filtered.iloc[i]['Review_clean']
        review_info['Date'] = pd.to_datetime(filtered.iloc[i]['Date'])
        review_info['Label'] = filtered.iloc[i]['Label']
        review_info['Stars'] = filtered.iloc[i]['Stars']
        reviewsByRestaurant[rest].append(review_info)

print(reviewsByRestaurant)

In [ ]:
# To get df of restaurant and labels with date
rows = []

for rest in restaurant_names:
    for review_info in reviewsByRestaurant[rest]:
        review_info['Restaurant'] = rest
        rows.append(review_info)

df = pd.DataFrame(rows)
df = df[['Restaurant', 'Review', 'Date', 'Label', 'Stars']]

df.head()

In [232]:
# Checking datatype for each column
df.dtypes

Restaurant            object
Review                object
Date          datetime64[ns]
Label                  int64
Stars                  int64
dtype: object

In [102]:
# Viewing dataset
df.head()

,Restaurant,Review,Date,Label,Stars
0,Happy Tummy,fresh ingredient friendly peep and so much che...,2016-04-06,1,5
1,Cibo Italiano,a small selection of italian wine by the glass...,2015-12-24,1,4
2,Cibo Italiano,cultural relevant singaporean cuisine in very ...,2018-08-19,4,5
3,Cibo Italiano,generous with the clam,2016-11-28,1,5
4,Yan kee Noodle House,the plus point is that the price remains the s...,2018-12-28,1,4

In [502]:
# Viewing specifications of dataset
df.shape

(1926, 9)

# Sentiment Analysis

In [3]:
from textblob import TextBlob
import numpy as np
import math
from sklearn.metrics import accuracy_score

In [4]:
# Sentiment polarity analysis for each review
df["sentiment_polarity"] = df.apply (lambda row: TextBlob(row[1]).sentiment.polarity, axis=1)

In [5]:
# Viewing dataframe with sentiment scores
df.head()

,Restaurant,Review,Date,Label,Stars,sentiment_polarity
0,Happy Tummy,fresh ingredient friendly peep and so much che...,2016-04-06,1,5,0.000714
1,Cibo Italiano,a small selection of italian wine by the glass...,2015-12-24,1,4,0.150000
2,Cibo Italiano,cultural relevant singaporean cuisine in very ...,2018-08-19,4,5,0.263750
3,Cibo Italiano,generous with the clam,2016-11-28,1,5,0.000000
4,Yan kee Noodle House,the plus point is that the price remains the s...,2018-12-28,1,4,0.000000

In [6]:
# adjusting sentiment scores to [0 - 1] range
def adj_sentiment(sentiment):
    return ((sentiment + 1)/2)

In [7]:
# adjusting sentiment
df["adjusted_sentiment"] = df.apply (lambda row: adj_sentiment(row[5]), axis=1)

In [8]:
# Viewing daataframe with sentiment scores
df.head()

,Restaurant,Review,Date,Label,Stars,sentiment_polarity,adjusted_sentiment
0,Happy Tummy,fresh ingredient friendly peep and so much che...,2016-04-06,1,5,0.000714,0.500357
1,Cibo Italiano,a small selection of italian wine by the glass...,2015-12-24,1,4,0.150000,0.575000
2,Cibo Italiano,cultural relevant singaporean cuisine in very ...,2018-08-19,4,5,0.263750,0.631875
3,Cibo Italiano,generous with the clam,2016-11-28,1,5,0.000000,0.500000
4,Yan kee Noodle House,the plus point is that the price remains the s...,2018-12-28,1,4,0.000000,0.500000

# Creating Date weights

In [9]:
# Ensuring df shape
df.shape

(1926, 7)

In [64]:
# Creating rank for each row according to restaurant, label and then date
df = df.sort_values(['Restaurant', 'Label', 'Date'], ascending = (True, True, False))
tmp = df.groupby(['Restaurant', 'Label']).size()
rank_range = tmp.map(range)
rank =[(item +1) for sublist in rank_range for item in sublist]
len(rank)

1926

In [65]:
# Creating reciprocal ranks weights for each input
df["weights"] = [1/x for x in rank]

In [66]:
df.head()

,Restaurant,Review,Date,Label,Stars,sentiment_polarity,adjusted_sentiment,weights
293,10 at Claymore,they had a small but good selection of dessert,2017-03-25,1,4,0.225000,0.612500,1.000000
294,10 at Claymore,and expensive tea you know the kind where the ...,2014-10-02,1,4,0.050000,0.525000,0.500000
295,10 at Claymore,freshly made piping hot and generous filling n...,2014-10-02,2,4,0.400000,0.700000,1.000000
297,10 at Claymore,the perfectly cooked meat gave way to a moist ...,2013-04-18,2,4,0.364416,0.682208,0.500000
298,10 at Claymore,i love their penang style prawn noodle that co...,2012-08-19,2,3,0.158333,0.579167,0.333333
299,10 at Claymore,everyone wa friendly but one particular gentle...,2014-12-30,3,5,0.368750,0.684375,1.000000
296,10 at Claymore,order your bread naan chapatti first so they c...,2012-10-17,5,4,0.250000,0.625000,1.000000
1917,126 Eating House,just know that you do not come here for impecc...,2018-10-22,3,4,0.750000,0.875000,1.000000
1879,2it & Drink,the tomato sauce cheese and bread of the marga...,2018-12-23,2,5,0.900000,0.950000,1.000000
615,328 Katong Laksa,it also contained a sorry looking piece of sma...,2019-11-05,2,3,0.036667,0.518333,1.000000
614,328 Katong Laksa,the otah a type of fish cake wa real good espe...,2016-02-23,2,4,0.309722,0.654861,0.500000
618,328 Katong Laksa,the staff are rude and proud,2018-12-10,3,1,0.250000,0.625000,1.000000
619,328 Katong Laksa,i came from hawaii,2019-02-17,5,2,0.000000,0.500000,1.000000
617,328 Katong Laksa,supaya dapat sim surat ijin mancing next trip ...,2018-05-12,5,4,0.000000,0.500000,0.500000
616,328 Katong Laksa,i have visited singapore 9 time when my boyfri...,2014-02-07,5,5,0.000000,0.500000,0.333333
1300,8 Korean BBQ,by the light of clarke quay,2014-04-12,4,4,0.400000,0.700000,1.000000
1301,8 Korean BBQ,during a recent trip to singapore i decided to...,2018-11-01,5,3,0.000000,0.500000,1.000000
1302,8 Korean BBQ,i d say that s testament in itself that we wan...,2014-04-12,5,4,0.700000,0.850000,0.500000
622,A Noodle Story,some people complain about the line and the hi...,2019-03-10,1,5,0.190000,0.595000,1.000000
621,A Noodle Story,but man best topping ever on a ramen and the p...,2019-12-01,2,4,0.750000,0.875000,1.000000
620,A Noodle Story,for me this ramen tasted like your typical won...,2017-08-28,2,4,-0.166667,0.416667,0.500000
623,A Noodle Story,the potato wrapped prawn wa also pretty incred...,2016-10-27,2,3,0.575000,0.787500,0.333333
624,A Noodle Story,i came in the early dining hour and there wa a...,2019-01-31,3,5,0.100000,0.550000,1.000000
1603,A Poke Theory,i opted for the spicy mayo tuna i believe with...,2017-03-20,5,3,0.000000,0.500000,1.000000
1604,A Poke Theory,hence this make your own bowl concept wa intri...,2016-09-26,5,4,0.225000,0.612500,0.500000
1742,ADRIFT,the food wa only two third of the experience b...,2013-03-12,4,3,0.000000,0.500000,1.000000
1743,ADRIFT,this is a review of a friday evening dinner da...,2012-12-08,4,5,0.425000,0.712500,0.500000
1740,ADRIFT,went to adrift for their breakfast buffet,2018-09-06,5,4,0.000000,0.500000,1.000000
1741,ADRIFT,we will be back,2018-05-19,5,5,0.000000,0.500000,0.500000
1032,Afterglow,both were priced for dollar 22 which wa pretty...,2015-07-16,1,3,-0.125000,0.437500,1.000000
...,...,...,...,...,...,...,...,...
1650,Yardbird Southern Table & Bar,i didn t feel like dirtying my hand at one tim...,2012-08-31,5,4,0.000000,0.500000,1.000000
1531,Zam Zam Restaurant,it wa even better than the best pulled milk te...,2019-04-10,2,4,0.750000,0.875000,1.000000
1533,Zam Zam Restaurant,it s got a good mix of spice for complexity an...,2018-06-13,2,4,0.544444,0.772222,0.500000
1532,Zam Zam Restaurant,love the sauce when you eat with biryani,2017-12-11,2,5,0.500000,0.750000,0.333333
1529,Zam Zam Restaurant,the chilli chicken curry wa thick but not too ...,2014-03-07,2,4,-0.450000,0.275000,0.250000
1528,Zam Zam Restaurant,mutton murtabak is delicious,2013-05-11,2,4,1.000000,1.000000,0.200000
1530,Zam Zam Restaurant,best of all the curry that they give to go wit...,2013-02-03,2,5,0.253241,0.626620,0.166667
1535,Zam Zam Restaurant,it s not elegant service but it s fast and acc...,2014-03-05,3,4,0.130000,0.565000,1.000000
1534,Zam Zam Restaurant,you can specify soft normal or hard for noodle...,2012-07-14,5,4,-0.013889,0.493056,1.000000
974,Zhen Zhen Porridge,the amount of fish added is generous,2014-01-18,1,5,0.000000,0.500000,1.000000
968,Zhen Zhen Porridge,fresh fish and ginger strip further enhance th...,2012-08-08,2,5,0.100000,0.550000,1.000000
972,Zhen Zhen Porridge,it probably doe not have the crystal jade plai...,2012-08-08,2,5,0.261905,0.630952,0.500000
969,Zhen Zhen Porridge,i came for an early lunch when there wa no lon...,2018-01-10,3,5,0.062500,0.531250,1.000000
970,Zhen Zhen Porridge,we waited about 30 min to get a bowl of porrid...,2015-06-20,3,5,0.300000,0.650000,0.500000
975,Zhen Zhen Porridge,this is the longest i ve ever had to wait for ...,2014-02-06,3,4,0.150000,0.575000,0.333333
971,Zhen Zhen Porridge,it get sold out pretty early and the wait can ...,2012-08-08,3,5,0.137500,0.568750,0.250000
973,Zhen Zhen Porridge,ordered differently today,2016-10-27,5,3,0.000000,0.500000,1.000000
1799,Zhong Guo La Mian Xiao Long Bao,every dish wa tasty and consistent in quality,2012-10-07,2,5,0.250000,0.625000,1.000000
1798,Zhong Guo La Mian Xiao Long Bao,while i am reluctant to admit this kind of unc...,2017-02-27,5,4,0.600000,0.800000,1.000000
1814,hans im glÃ¼ck,16 sgd for a veggie burger and tap water,2018-12-17,1,3,0.000000,0.500000,1.000000
1801,hans im gl��������ck,no problem,2019-09-11,5,2,0.000000,0.500000,1.000000
1526,iO Italian Osteria,i like that unlike some cafe they have their a...,2016-08-27,3,5,0.000000,0.500000,1.000000
1525,iO Italian Osteria,i don t usually like italian food but this pla...,2016-03-26,5,3,-0.316667,0.341667,1.000000
1527,iO Italian Osteria,i wa there for my future fiance s niece s birt...,2013-02-27,5,4,0.000000,0.500000,0.500000
1474,timbre+,dry and flavourlessgarons reasonably priced fr...,2016-05-07,1,3,0.044444,0.522222,1.000000
1471,timbre+,they have an interesting system whereby you ge...,2016-04-11,1,4,0.250000,0.625000,0.500000
1475,timbre+,ambience is a little it noisy and slightly cramp,2014-11-29,4,4,-0.177083,0.411458,1.000000
1472,timbre+,to me this demonstrates one very important thing,2016-12-03,5,5,0.520000,0.760000,1.000000
1473,timbre+,this is my 1st time here,2016-04-13,5,4,0.000000,0.500000,0.500000
329,æºè§é»å¿ Mongkok Dim Sum,good selection of dish including entree dim su...,2014-03-05,1,4,0.400000,0.700000,1.000000

# Star Prediction for each Label

In [67]:
# Creating recency weighted average grouped by 
def grouped_weighted_avg(values, weights, by):
    return (values * weights).groupby(by).sum() / weights.groupby(by).sum()

In [68]:
# Removing label 5 since it is not a preassigned class
clean_data = df[df.Label != 5]

In [69]:
# Calculating exponentially rencency weighted average of sentiment for eah label
label_sentiment = grouped_weighted_avg(clean_data["adjusted_sentiment"], clean_data["weights"], (clean_data["Restaurant"], clean_data["Label"]))

c:\users\seagate pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  This is separate from the ipykernel package so we can avoid doing imports until

In [70]:
# Adjusting sentiment to fit [1,5]
label_sentiment = label_sentiment.apply((lambda x: math.ceil(x*5)))

In [71]:
# Viewing the predicted stars for each predetermined aspect
label_sentiment.head()

Restaurant        Label
10 at Claymore    1        3
                  2        4
                  3        4
126 Eating House  3        5
2it & Drink       2        5
dtype: int64

In [72]:
# Viewing the shape of the dataframe
label_sentiment.shape

(824,)

In [73]:
pred_label = []
for x in label_sentiment:
    pred_label.append(x)

In [74]:
# Calculating exponentially rencency weighted average of stars for labels
label_star = grouped_weighted_avg(clean_data["Stars"], clean_data["weights"], (clean_data["Restaurant"], clean_data["Label"]))

c:\users\seagate pc\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: Interpreting tuple 'by' as a list of keys, rather than a single key. Use 'by=[...]' instead of 'by=(...)'. In the future, a tuple will always mean a single key.
  This is separate from the ipykernel package so we can avoid doing imports until

In [75]:
label_star = label_star.apply((lambda x: math.ceil(x)))

In [76]:
label_star.head()

Restaurant        Label
10 at Claymore    1        4
                  2        4
                  3        5
126 Eating House  3        4
2it & Drink       2        5
dtype: int64

In [77]:
label_star.shape

(824,)

In [78]:
label_truth = []
for x in label_star:
    label_truth.append(x)

In [79]:
# Accuracy of sentiment predicted stars and the average stars for each label
accuracy_score(label_truth, pred_label)

0.3300970873786408

# Overall Restaurant Star Prediction

In [80]:
# Calculating exponentially rencency weighted average of sentiment overall
overall_sentiment = grouped_weighted_avg(clean_data["adjusted_sentiment"], clean_data["weights"], (clean_data["Restaurant"]))

In [81]:
# Adjusting sentiment to fit [1,5]
overall_sentiment = overall_sentiment.apply((lambda x: math.ceil(x*5)))

In [82]:
overall_sentiment.head()

Restaurant
10 at Claymore      4
126 Eating House    5
2it & Drink         5
328 Katong Laksa    3
8 Korean BBQ        4
dtype: int64

In [83]:
pred_overall = []
for x in overall_sentiment:
    pred_overall.append(x)

In [84]:
# Calculating exponentially rencency weighted average of star overall
overall_star = grouped_weighted_avg(clean_data["Stars"], clean_data["weights"], (clean_data["Restaurant"]))

In [85]:
overall_star = overall_star.apply((lambda x: math.ceil(x)))

In [86]:
overall_star.head()

Restaurant
10 at Claymore      5
126 Eating House    4
2it & Drink         5
328 Katong Laksa    3
8 Korean BBQ        4
dtype: int64

In [87]:
overall_truth = []
for x in overall_star:
    overall_truth.append(x)

In [88]:
# Accuracy of sentiment predicted stars and the average stars overall
accuracy_score(overall_truth, pred_overall)

0.3092105263157895